@charset "UTF-8";

@import "compass";
@import "../mixin";

/**
 * [box] 注意喚起ボックス
 */
.attention_box {
  padding: 0.5em 1em;
  background-color: #ffcccc;
  .attention_box-heading {
    font-weight: bold;
    margin: 1em 0;
    font-size: 120%;
  }
}

/**
 * [box] トピックボックス
 */
.topic_box {
  padding: 0.5em 1em;
  background-color: #cceecc;
  .topic_box-heading {
    font-weight: bold;
    margin: 1em 0;
    font-size: 120%;
  }
}

/**
 * [box] 付加情報ボックス
 */
.aside_box {
  padding: 0.5em 1em;
  background-color: #dddddd;
  font-size: 86%;
  .aside_box-heading {
    font-weight: bold;
    margin: 1em 0;
    font-size: 120%;
  }
}