@charset "UTF-8";

@import "compass";
@import "mixin";

body {
  text-align: center;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  > .outline {
    text-align: left;
    width: 800px;
    margin: 0px auto;
    > header {
      > .logo {
        a {
          @include font_xxlarge;
          font-weight: bold;
        }
      }
    }
    > .middle {
      clear: both;
      > .column1 {
        width: 74%;
        float: left;
      }
      > .column2 {
        width: 24%;
        float: right;
      }
    }
    > .footer {
      clear: both;
    }
  }
}

/**
 * パンくず
 */
.breadcrumb {
  ul,
  ul li {
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-size: 85%;
  }
}
