@charset "UTF-8";

@import "compass";
@import "../../mixin";


code{
  color:#933;
  border:1px solid #999;
  padding:0 0.7em;
  margin-left:0.2em;
  margin-right:0.2em;
  background-color:#f5f5f5;
  border-radius:0.2em;
}

/**
 * [unit] カラムレイアウト
 */
.cols {
  .cols-col {
    &.cols-3of4 {
      @media all and (max-width: 520px) {
        width: auto;
        float: none;
      }
    }
    &.cols-1of2 {
      @media all and (max-width: 520px) {
        width: auto;
        float: none;
      }
    }
    &.cols-2of3 {
      @media all and (max-width: 520px) {
        width: auto;
        float: none;
      }
    }
    &.cols-1of3 {
      @media all and (max-width: 520px) {
        width: auto;
        float: none;
      }
    }
    &.cols-1of4 {
      @media all and (max-width: 520px) {
        width: auto;
        float: none;
      }
    }
  }
}

/**
 * [unit] サムネイルリスト
 */
.thumb_list {
  li {
    @media all and (max-width: 520px) {
      width: 33%;
      *width: 32.9%;
    }
    @media all and (max-width: 420px) {
      width: 50%;
      *width: 49.9%;
    }
  }
}

/**
 * [unit] 回り込み画像
 */
.float_media {
  .float_media-caption {
    @include font_xsmall;
    margin-top:0.5em;
    line-height:1.3;
  }
}

/**
 * [parts] ソースコード
 */
.code {
  pre {
    @media all and (max-width: 460px) {
      white-space:pre-wrap;
    }
  }
}

/**
 * [parts] 日付入りリスト .date_list
 */
.date_list {
  @media all and (max-width: 460px) {
    table {
      width: auto;
      display:block;
      border-bottom:1px solid;
    }
    table th,
    table td {
      width: auto;
      display:block;
      border-bottom:0;
    }
    table th {
      background: #e7e7e7;
    }
    table thead ,
    table tfoot {
      display:none;
    }
    table th {
      white-space: nowrap;
    }
  }
}


/**
 * [parts] フォーム要素
 */
button,
input[type=button],
input[type=submit]{
  padding:0.2em 2.5em;
  display:inline-block;
  background-color:#f3f3f3;
  border-radius:0.2em;
  border:0;
  @include box-shadow(0.1em 0.2em 0 0 #ccc);
  &:hover{
    background-color:#e9e9e9;
  }
  &:active{
    background-color:#ddd;
  }
  @media all and (max-width: 520px){
    padding:0.2em 1.5em;
  }
  @media all and (max-width: 430px){
    padding:0.2em 0.5em;
  }
}
select{
  display:inline-block;
  background-color:#f3f3f3;
  border-radius:0.2em;
  border:0;
  @include box-shadow(0.1em 0.2em 0 0 #ccc);
}
table.form_elements {
  @media all and (max-width: 520px) {
    border-bottom:1px solid;

    &,
    & tbody{
      display:block;
      width:auto;
    }
    thead tr,
    thead th,
    thead td,
    tbody tr,
    tbody th,
    tbody td{
      display:block;
      width:auto;
      border-bottom:0;
    }
  }
}

/**
 * [unit] フォーム送信ボタン
 */
.form_buttons {
  .form_buttons-submit{
    button,
    input[type=button],
    input[type=submit]{
      font-weight:bold;
      font-size:130%;
      background-color:#beb;
    }
  }
  .form_buttons-revise{
    button,
    input[type=button],
    input[type=submit]{
      font-size:80%;
    }
  }
}



/**
 * [parts] リンクリスト .anchor_links
 */
.anchor_links {
  border-radius:1em;
}



/**
 * [box] 注意喚起ボックス
 */
.attention_box {
  border-radius:1em;
  border:1px solid #f96;
  margin-left:20px;
  margin-right:20px;
  padding:1.5em 3em;
  :first-child{
    margin-top:0;
  }
  :last-child{
    margin-bottom:0;
  }
  .attention_box-heading {
  }
}

/**
 * [box] トピックボックス
 */
.topic_box {
  border-radius:1em;
  border:1px solid #4a7;
  margin-left:20px;
  margin-right:20px;
  padding:1.5em 3em;
  :first-child{
    margin-top:0;
  }
  :last-child{
    margin-bottom:0;
  }
  .topic_box-heading {
  }
}

/**
 * [box] 付加情報ボックス
 */
.aside_box {
  border-radius:1em;
  border:1px solid #999;
  margin-left:20px;
  margin-right:20px;
  padding:1.5em 3em;
  :first-child{
    margin-top:0;
  }
  :last-child{
    margin-bottom:0;
  }
  .aside_box-heading {
  }
}
