@charset "UTF-8";

body{
	text-align:center;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color:#fff;
	font-size:medium;
}
.theme_outline{
	text-align:left;
	max-width:1240px;
	width:auto;
	margin:0 auto;
	padding:20px;
	border-radius:10px;
}

/**
 * ヘッダー
 */
.theme_header{
	padding:0;
	margin-bottom:5px;
	float:right;
	width:22%;
}
.theme_header .logo{
	font-size:150%;
	font-weight:bold;
}
.theme_header .logo a{
	text-decoration:none;
}
@media all and (max-width: 590px){
	.theme_header{
		float:none;
		width:auto;
	}
}

/**
 * 中段
 */
.theme_middle{
	float:none;
}
.theme_middle .theme_column1{
	width:70%;
	float:left;
	padding:40px 0;
}
.theme_middle .theme_column2{
	width:22%;
	float:right;
}
@media all and (max-width: 590px){
	.theme_middle .theme_column1{
		width:auto;
		float:none;
		padding-top:5px;
	}
	.theme_middle .theme_column1 h1{
		margin:0.5em 0 0.2em 0;
	}
	.theme_middle .theme_column2{
		width:auto;
		float:none;
		border-top:1px solid #000;
		border-bottom:1px solid #000;
	}
}

/**
 * ローカルナビ
 */
.theme_outline .theme_middle .theme_localnavi{
	padding:10px 0;
	text-align:right;
	font-size:small;
}
.theme_outline .theme_middle .theme_localnavi ul{
	margin:1px 0;
	padding:0;
}
.theme_outline .theme_middle .theme_localnavi ul li{
	list-style-type:none;
	margin:1px 0;
	text-overflow: ellipsis;
}
.theme_outline .theme_middle .theme_localnavi ul li a{
	display:block;
	direction: ltr;
	overflow:hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	padding:2px 10px;
}
.theme_outline .theme_middle .theme_localnavi ul li a:hover,
.theme_outline .theme_middle .theme_localnavi ul li a.current{
	background-color:#eee;
}
.theme_outline .theme_middle .theme_localnavi ul li li a{
	font-size:80%;
	padding-right:30px;
}
.theme_outline .theme_middle .theme_localnavi ul li li a:hover,
.theme_outline .theme_middle .theme_localnavi ul li li a.current{
	background-color:#f5f5f5;
	padding-right:30px;
}
.theme_outline .theme_middle .theme_localnavi ul li li li a,
.theme_outline .theme_middle .theme_localnavi ul li li li a:hover,
.theme_outline .theme_middle .theme_localnavi ul li li li a.current{
	padding-right:50px;
}
.theme_outline .theme_middle .theme_localnavi ul li li li li a,
.theme_outline .theme_middle .theme_localnavi ul li li li li a:hover,
.theme_outline .theme_middle .theme_localnavi ul li li li li a.current{
	padding-right:70px;
}
@media all and (max-width: 590px){
	.theme_outline .theme_middle .theme_localnavi ul li a{
		padding-top:10px;
		padding-bottom:10px;
	}
	.theme_outline .theme_middle .theme_localnavi ul{
		border-bottom:1px solid #eee;
		margin-top:0;
		margin-bottom:0;
	}
	.theme_outline .theme_middle .theme_localnavi ul li{
		border-top:1px solid #eee;
		margin-top:0;
		margin-bottom:0;
	}
}


/**
 * ページの先頭へ戻るリンク
 */
.theme_back_to_page_top{
	text-align: right;
	clear:both;
}

/**
 * フッター
 */
.theme_footer{
	padding:10px;
	clear:both;
	margin-top:5px;
	font-size:small;
}
.theme_footer .theme_footer-inner{
	margin:0 auto;
	max-width:1240px;
}
.theme_footer .theme_footer-copyright{
}

/**
 * メガフッター
 */
.theme_megafooter{
	background-color:#ddd;
	padding:20px 10px;
	font-size:small;
}
.theme_megafooter .theme_megafooter-outline{
	text-align:left;
	max-width:1240px;
	margin:0 auto;
}
.theme_megafooter .theme_megafooter-inner{
	margin-left:-20px;
}
.theme_megafooter .theme_megafooter-cell{
	float:left;
		width:100%;
}
@media all and (max-width: 590px){
	.theme_megafooter .theme_megafooter-cell{
		width:50%;
		margin-bottom:1.5em;
	}
}
.theme_megafooter .theme_megafooter-pad{
	margin-left:20px;
}
.theme_megafooter .theme_megafooter-cell p,
.theme_megafooter .theme_megafooter-cell ul{
	margin:0; padding:0;
}
.theme_megafooter .theme_megafooter-cell ul li{
	margin:1px 0 0 0; padding:0;
	list-style-type:none;
	font-size:80%;
}
.theme_megafooter .theme_megafooter-cell p a{
	font-weight:bold;
}
.theme_megafooter .theme_megafooter-cell a{
	display:block;
	padding:2px 4px;
}
.theme_megafooter .theme_megafooter-cell a:hover{
	background-color:#e9e9e9;
}
.theme_megafooter .theme_megafooter-cell a.current{
	background-color:#eee;
}

/**
 * フッターのショルダーナビ
 */
.theme_footer_shouldernavi{
	clear:both;
	margin:1em auto;
}
.theme_footer_shouldernavi ul ,
.theme_footer_shouldernavi ul li{
	margin:0; padding:0;
	list-style-type:none;
}
.theme_footer_shouldernavi ul li{
	display:inline;
}
.theme_footer_shouldernavi ul li a{
}

/**
 * パンくず
 */
.breadcrumb{
	font-size: 60%;
	background-color:#000;
	padding:2px 10px;
}
.breadcrumb *{
	color:#fff;
}
.breadcrumb ul,
.breadcrumb ul li{
	display: inline;
	list-style-type: none;
	margin:0px;
	padding:0px;
}
.theme_footer .breadcrumb{
	font-size: 100%;
	background-color:transparent;
}
.theme_footer .breadcrumb *{
	color:inherit;
}


/**
 * [static] .clearfix (and [unit] unit)
 */
  .theme_footer, .theme_megafooter, .theme_megafooter-inner, .theme_outline{
	display:block;
	float:none;
	clear:both;
}
 .theme_footer:after, .theme_megafooter:after, .theme_megafooter-inner:after, .theme_outline:after{
	content: " ";
	display:block;
	visibility:hidden;
	height:0.1px;
	font-size:0.1em;
	line-height:0;
	clear:both;
}
 .theme_footer, .theme_megafooter, .theme_megafooter-inner, .theme_outline{
	/* clearfix(for IE6,7) (IE8以降不要) */
	zoom:1;
}

