<?php
	$tmp_class_name = $this->px->load_pxtheme_class('/custom/funcs.php');
	$obj_custom_theme = new $tmp_class_name($this->px);

	$outline_max_witdh = 1240;
	$scheme = $obj_custom_theme->get_design_scheme();
?>@charset "UTF-8";

/**
 * リセット処理
 */
body{
	text-align:left;
	color:#666;
	font-size-adjust:none;
	-webkit-text-size-adjust:100%;/* Mobile Safari : 文字サイズの自動調整をオフに */
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", sans-serif;
}
body,input,textarea,select,option,button{
	font-family:"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","Meiryo","メイリオ", sans-serif;
	font-size:medium;
	line-height:1.7;
}
table{
	border-collapse:collapse;
}
td, th{
	empty-cells:show;
	vertical-align:top;
}
img{
	border:0;
	vertical-align:bottom;
	max-width:100%;
	height:auto;
}
p{
	display:block;
	padding:0;
}
div{
	display:block;
	padding:0;
	margin:0;
}
pre{
	font-family:monospace,sans-serif;
}
address{
	font-style:normal;
	text-decoration:none;
}
span{
	display:inline;
	padding:0px;
	margin:0px;
}
ul>li{
	list-style-type: disc;
}
ol>li{
	list-style-type: decimal;
}

a , a *{
	cursor:pointer;
	color:#000;
}
a:hover,
a *:hover{
	color:<?php print $scheme['colors.main']; ?>;
}

p ,
address ,
pre ,
ul ,
ol ,
dl ,
blockquote{
	margin-top:1em;
	margin-bottom:1.5em;
}

h1 ,
h2 ,
h3 ,
h4 ,
h5 ,
h6 {
	font-size:100%;
	padding:0px;
	margin-top:1em;
	margin-bottom:0.5em;
	color:#000;
}
h1{
	margin-top:1.5em;
	font-size:240%;
}
h2{
	margin-top:1.5em;
	font-size:160%;
}
h3{
	font-size:130%;
}

/**
 * コンテンツ領域
 * div.contents が、テーマとコンテンツの領域の境界線となる。
 */
div.contents{
	display:block !important;
	text-align:left;
}


